# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS and IDE
.DS_Store
.idea/
.vscode/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# Build output
dist/
build/

# Optional: VS Code settings
.vscode/

# Database
/database/*.db
/database/*.db-journal
